sudo: true
dist: trusty
language: c
compiler: gcc
addons:
  postgresql: "9.6"
before_install:
  - sudo apt-get update
  - sudo apt-get install postgresql-server-dev-9.6 libevent-dev
  - pip install cpp-coveralls
script:
  - |
    set -e
    sudo make USE_PGXS=1 ENABLE_GCOV=1 install
    initdb test_cluster
    echo "host replication all 127.0.0.1/32 trust" >> test_cluster/pg_hba.conf
    echo "unix_socket_directories = '.'" >> test_cluster/postgresql.conf
    echo "wal_level = 'replica'" >> test_cluster/postgresql.conf
    echo "max_wal_senders = 5" >> test_cluster/postgresql.conf
    echo "cluster_name = ' bgworker: test cluster'" >> test_cluster/postgresql.conf
    echo "shared_preload_libraries = ' bg_mon'" >> test_cluster/postgresql.conf
    pg_ctl -w -D test_cluster start -o "--port=5440"
    psql -h localhost -p 5440 -d postgres -c "select pg_advisory_lock(1), pg_sleep(30)" &
    sleep 1
    psql -h localhost -p 5440 -d postgres -c "select pg_advisory_lock(1), pg_sleep(5)" &
    ( time pg_basebackup -D test_cluster_backup -c fast -X stream -h localhost -p 5440 -r 2M )&
    sleep 1
    pg_ctl -D test_cluster reload
    curl http://localhost:8080/ui > /dev/null
    ( for a in {1..10}; do curl http://localhost:8080 && echo && sleep 1; done )&
    wait
    pg_ctl -w -D test_cluster stop
    set +e
after_success:
  - coveralls --gcov-options '\-lr'
